/* adamın css de menu ıcın yazdıklarını sende burdakı dosya ıcın yaz */ 

.post-card{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h2{
    font-size: 20px;   
}

img{
    width: 100%;
    height: 200px;
    object-fit: cover;  
}  